//WHOLE/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//WHOLE/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//WHOLE/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//WHOLE/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$gold: #d0a100;

html {
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body { 
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    color: white !important;
    font-family: 'Work Sans';
    position: relative;
}

section {
    // padding: 0em 8em 0em 8em;
    // margin: 0em 0em 8em 0em;
    padding: 4em 0em 4em 0em;
    margin: 0em 8em 0em 8em;
}


::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: #00000000 !important;
}
::-webkit-scrollbar-thumb {
    background-color: $gold;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #b18700;
}

// #btnScrollToTop {
//     position: fixed;
//     right: 5px;
//     bottom: 20px;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     background: rgb(0, 0, 0);
//     box-shadow: 0 0 10px $gold;
//     color: $gold;
//     border: none;
//     outline: none;
//     cursor: pointer;
//     font-size: 2em;
//     z-index: 5;
// }

// #btnScrollToTop:active {
//     background: #4e3c00;
// }

.animation-fader {
    opacity: 0;
}

//NAVBAR/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//NAVBAR/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//NAVBAR/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//NAVBAR/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.navbar {
    background-image: linear-gradient(180deg, #000000, #00000000);
    padding: 0em 4em 0em 4em;
}

#tejas-logo {
    width: 4em !important;
    height: auto !important;
    transition: 0.5s ease-in-out;
}

#tejas-logo:hover {
    filter: drop-shadow(0px 0px 3px #ffffff);
}


.nav-link {
    color: white !important;
    margin: 0em 1em 0em 1em;
    font-size: 0.9em;
    transition: 0.5s ease-in-out;
}

.nav-link:hover {
    text-shadow: 0px 0px 10px #ffffff;
}

.gold-text {
    color: $gold;
    font-family: 'Work Sans';
}

#autohide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }
  
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

//HERO/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//HERO/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//HERO/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//HERO/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#hero {
    padding: 0em 0em 16em 0em;
}

// Rotating Triangle Inspiration: https://codepen.io/billputer/pen/VYvVVj

$center-size: 800;
$triangle-ratio: 0.86;
$inner-ratio: 0.98;

.center-arrow {
    z-index: -5;
    position: relative;
    margin: auto;
    margin-top: -10em;
    margin-right: -9em;
    width: 0; 
    height: 0;

    border-bottom: #{$center-size * $triangle-ratio}px solid $gold;
    border-left: #{($center-size / 2)}px solid transparent;
    border-right: #{($center-size / 2)}px solid transparent;
    transform-origin: 50% 65%;

    animation: rotate-right 240s linear infinite;
  
}

.center-arrow-gold {
    z-index: -5;
    position: relative;
    
    top: #{(($center-size * (1 - $inner-ratio) + 1)/ 2) }px;    
    left: #{$center-size * -1 * ($inner-ratio / 2)}px;

    border-bottom: #{$center-size * $triangle-ratio * $inner-ratio}px solid rgb(0, 0, 0);
    border-left: #{($center-size * $inner-ratio / 2)}px solid transparent;
    border-right: #{($center-size * $inner-ratio / 2)}px solid transparent;  
}



@keyframes rotate-right
{
    from { 
        transform: rotate(45deg);
    }
    to {
        transform: rotate(405deg);
    }
}




$center-size-2: 600;
$triangle-ratio: 0.86;
$inner-ratio: 0.98;

.center-arrow-2 {
    z-index: -5;
    position: relative;
    margin: auto;
    margin-top: -35em;
    margin-bottom: -33em;
    margin-right: -0em;
    width: 0; 
    height: 0;

    border-bottom: #{$center-size-2 * $triangle-ratio}px solid white;
    border-left: #{($center-size-2 / 2)}px solid transparent;
    border-right: #{($center-size-2 / 2)}px solid transparent;
    transform-origin: 50% 65%;

    animation: rotate-right-2 360s linear infinite;
  
}

.center-arrow-gold-2 {
    z-index: -5;
    position: relative;
    
    top: #{(($center-size-2 * (1 - $inner-ratio) + 1)/ 2) }px;    
    left: #{$center-size-2 * -1 * ($inner-ratio / 2)}px;

    border-bottom: #{$center-size-2 * $triangle-ratio * $inner-ratio}px solid rgb(0, 0, 0);
    border-left: #{($center-size-2 * $inner-ratio / 2)}px solid transparent;
    border-right: #{($center-size-2 * $inner-ratio / 2)}px solid transparent;  
}



@keyframes rotate-right-2
{
    from { 
        transform: rotate(60deg);
    }
    to {
        transform: rotate(420deg);
    }
}


#tejas {
    color: #000000;
    font-family: "ragastaitalic";
    font-size: 8em;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    
    margin-top: 2.5em;
}

#wilkhoo {
    background-image: linear-gradient(90deg, #977807, $gold);


    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    color: transparent;

    font-family: "helonik";
    color: $gold;
    font-size: 12em;

    margin-top: -0.5em;
    margin-left: 0.5em;
    margin-bottom: -0.125em;
}




#tagline {
    font-family: "ragastaregular";
    font-size: 4em;
    margin-bottom: -0.2em; //-0.2
    text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}


//ABOUT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//ABOUT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//ABOUT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//ABOUT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.subtitle {
    font-size: 4em;
    font-family: "ragastaregular";
}

a {
    text-decoration: none;
    color: $gold;
}

a:hover {
    text-decoration: none;
    color: $gold;
}

.skills {
    margin-bottom: -0em;
}

.code-text {
    font-family: "Source Code Pro";
}

.accordion {
    margin-top: 2em;
}

.accordion-body {
    color: rgb(0, 0, 0);
    background-color: rgb(253, 255, 227);
    border-radius: 0px;
}

.accordion-button {
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 0px !important;
}
  
.accordion-button:not(.collapsed) {
    color: $gold;
    background-color: rgb(253, 255, 227);
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d0a100'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

#self-pic {
    border-radius: 1em;
    margin-top: 1em;
    border: 5px solid $gold;
    filter: sepia(0%) brightness(100%) drop-shadow(0.5em 0.5em 0.5em $gold);
    transition: 1s ease-in-out;
    
}

#self-pic:hover {
    filter: sepia(50%) brightness(90%) drop-shadow(1em 1em 1em $gold);
}

//EXPERIENCE/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//EXPERIENCE/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//EXPERIENCE/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//EXPERIENCE/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#job-contents {
    //border: 5px solid green;
    background-color: #4e3c00;
    border-radius: 1em;
    //height: 26em;
}

// .job-explanation {
//     opacity: 0;
// }

.work-experience {
    margin-top: 2em;
}

.list-group-item {
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}

.list-group-item:hover {
    background-color: #4e3c00;
    color: white;
    cursor: pointer;
}

.list-group-item.active {
    background-color: $gold;
    border-color: transparent; 
}

.job-title {
    margin-top: 0.5em;
    font-size: 2.5em;
}

.job-dates {
    font-size: 1.5em;
}

.job-role {
    padding: 0.5em 0em 0.5em 0em;
}

.gold-text-job {
    color: $gold;
    font-family: 'ragastaitalic';
}

//PROJECTS/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//PROJECTS/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//PROJECTS/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//PROJECTS/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.card {
    margin: 1em 1em 1em 1em;
    background-color: black;
    border: 5px solid $gold;
    border-radius: 0px;
    filter: drop-shadow(-0.5em 0.5em 10px rgba(255, 255, 255, 0.5));
    transition: 1s ease-in-out;
}

.card:hover {
    border-radius: 20px;
    filter: drop-shadow(-0.5em 0.5em 10px rgba(208, 160, 0, 0.5));
}

.card .card-img-top {
    border-radius: 0px;
    transition: 1s ease-in-out;
}

.card:hover .card-img-top {
    border-radius: 14px;
}

.card-row {
    margin-top: 2em;
}

.card-title {
    color: $gold;
    font-size: 1.4em;
    font-weight: 900;
}

.card-text{
    height: 6em;
}

.card-code {
    font-family: 'Source Code Pro';
    font-size: 0.8em;
}

hr {
    background-color: $gold;
    opacity: 1;
}

.card-icon {
    font-size: 2em;
    margin: 0em 0.3em 0em 0.3em;
    position: relative;
    top: 0;
    transition: 0.25s ease-in-out;
}

.card-icon:hover {
    top: -3px;
    color: $gold;
}

//CONTACT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//CONTACT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//CONTACT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//CONTACT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.contact-icon {
    color: $gold;
    font-size: 7em;
    padding: 0.3em;
    text-align: center;
}

.popover-body {
    font-family: 'Work Sans' !important;
    text-align: center;
    margin: 0px 0px 0px 0px;
    background-color: rgb(0, 0, 0) !important;
    color: white;
    border-radius: 0px !important;
}

.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::before, .bs-popover-bottom>.popover-arrow::before {
    top: 0;
    border-width: 0 .5rem .5rem .5rem;
    border-bottom-color: rgb(255, 255, 255);
}

.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after, .bs-popover-bottom>.popover-arrow::after {
    top: 2px;
    border-width: 0 0rem 0rem 0rem !important;
    border-bottom-color: rgb(255, 255, 255);
}

.popover {
    border: 5px solid #ffffff;
}

#contact {
    margin-bottom: 2em;
}

#email {
    cursor: pointer;
}


//FOOTER/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//FOOTER/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//FOOTER/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//FOOTER/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#footer {
    background-color: black;
    text-align: center;
    padding: 3em 1em 2.5em 1em;
    margin: 0em 0em 0em 0em;
    border-top: 2px solid $gold;
}

#flowers {
    text-decoration: none;
    color: $gold;
    transition: 1s ease-in-out;
}

#flowers:hover {
    letter-spacing: 0.03em;
}

//404/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//404/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//404/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//404/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.page-not-found {
    margin-top: 6em;
}

.tejas-404 {
    font-family: "ragastaregular";
    font-size: 4em;
}

.home-button {
    font-size: 1.5em;
    border: 3px solid $gold;
    border-radius: 0.5em;
    padding: 0.5em 1em 0.5em 1em;
    color: $gold;
    margin: 1.2em 0em 1.2em 0em;
    transition: 0.5s ease-in-out;
    box-shadow: (0em 0em 0em rgba(255, 255, 255, 0));
}

.home-button:hover {
    box-shadow: (0em 0em 2em rgba(255, 255, 255, 0.527));
    color: $gold;
}

#nasa-pic {
    margin-top: 2em;
    // max-height:600px;
    // max-width:600px;
    width: 80%;
    height: auto;


    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-404 {
    font-family: "ragastaregular";
    font-size: 3em;
}

//MEDIA QUERIES/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//MEDIA QUERIES/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//MEDIA QUERIES/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//MEDIA QUERIES/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: 1335px) {
    .card-text{
        height: 8em;
    }
}

@media only screen and (max-width: 1272px) {
    #tejas {
        margin-top: calc(380px - 3vw);
        font-size: 10vw;
    }
    #wilkhoo {
        font-size: 14vw;
    }
    #tagline {
        font-size: 5vw;
    }
    .nav-link {
        margin: 0em 0.6em 0em 0.6em;
    }
}

@media only screen and (max-width: 1200px) {
    .card-text{
        height: 6em;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        padding: 0em 2em 0em 2em;
        background-image: linear-gradient(180deg, #000000, #000000);
    }
    section {
        margin: 0em 1em 0em 1em;
    }
    #tejas {
        margin-top: calc(450px - 3vw);
        margin-left: 0.3em;
        font-size: Max(10vw, 3.4em);
    }
    #wilkhoo {
        margin-left: 0.3em;
        font-size: Max(14vw, 4.8em);
    }
    #tagline {
        margin-left: 6vw;
        font-size: Max(5vw, 2em);
    }
    .subtitle {
        font-size: Max(6vw, 3em);
    }
    #self-pic {
        width: 60%;
        height: auto;
        
    }

    .card {
        width: Min(30em, 100%); 
        height: auto;
    }

    .card-text{
        height: 4em;
    }

    #contact {
        margin-bottom: 3em;
    }

    #job-contents {
        margin-top: 2em;
    }

    .job-title {
        font-size: Max(5vw, 2em);
    }
    .contact-icon {
        font-size: 4em;
    }


}